body {
  padding: 2em;
}

a {
  color: #00B7FF;
}

span {
	word-break: break-all;
}


tbody {
	margin-top: 1em;
}

span.out {
	padding: 5em;
	font-family: Courier New; monospace;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
	border-top: none;
}

.clickable {
	cursor: pointer;
}

.title {
	font-family: 'Changa', sans-serif;
	font-size: large;
}

#login-form {
	max-width: 600px;
	min-width: 300px;
	padding: 15px;
	background-color: #eee;
	border-radius: .5em;
	margin-top: 1em;
}

.background {
	background-color: #464646;
	background-image: url('mountDoom.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
}

div.well {
	margin-top: 1em;
}

button.btn {
	background-color: #ffffff;
	color: #000000;
}

.flavor {
	display: inline-block;
	letter-spacing: 3px;
	padding: 3px;
	margin: 3px;
}

.elvish {
	font-size: large;
}

#editModal {
	margin-top: 5em;
	position: absolute;
	width: 95%;
	height: 100vh;
	bottom: 20px;
}

/*.container {
	display: flex;
	justify-content: space-between;
}
*/

.form {
	letter-spacing : 3px;
	padding : 3px;
	margin : 3px;
	display : inline-block;
}

#word_color {
	width: 50px;
}

#guess_color {
	width: 50px;
}

#fore_color {
	width: 50px;
}

#selecter {
	width: 100%;
}